* {
    padding:0;
    margin:0;
    box-sizing: border-box;   
}
/* =======================
----------Base-----------
========================== */
a {
    color:rgb(72, 96, 228);
    text-decoration: none;
}
a:hover {
    color: lightblue;
}
.header-logo:hover {
    color:lightblue;
}
html {
    scroll-behavior: smooth
}
.gallery img {
    width: 100%;
    height: auto;
    border: 5px solid;
}
.side-menu-img img{
     
    width: 100%;
    height: auto;  
    border: 5px solid;   
}
:after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
li {
    list-style: none; 
}
/*=====================
    Typography-Colors
======================= */
h1 {
    font-size: 3em;
    margin: 1.5em 0 .5em 0;
    text-align: center;
    color: #252525;
    
}
.h1 {
    
    font-family: 'Abril Fatface', cursive;
}
.headermenu {
    font-family: 'Ubuntu', sans-serif;
}

.headermenu-info {
    font-family: 'Ubuntu', sans-serif;
}

.side-menu, .gallery, .list-item, .side-menu-img, .footer-container {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: bold;
}

/* Button */
#btnScrollToTop { 
    position:fixed;
    right: 20px;
    bottom:20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 10px black;
    background-color:#8A4E9C;
    color:white;
    cursor:pointer;
    outline: none;
    z-index: 999;
}

#btnScrollToTop:hover {
    color:white;
    background-color:#5C3767;
}

/*==============
    Header
 =============== */
 .header-background {
    background-color: black;
    box-shadow: 0px 3px 1em black;
 }
.header-wrap {
    
    width: 85%;
    
    
}
.headermenu {
     
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;  
    margin: 0 auto 0 auto;;
    width:100%;
    font-weight: bold;
    padding-bottom: 0px;
    
}
.headermenu-info {
    display:flex;
    flex-wrap: wrap;
    margin: 0 auto;
    font-weight: bold;
}

/* Start of Header-Nav */
.logo {
    display:relative;
    flex:25%;
    padding: 8px 1em 0 0em;
}
.header-link {
    flex: 25%;
    text-align: center;   
    padding: 0 2em;
    white-space: nowrap;

}
.header-logo {
   position: relative;
   top: 7px; 
   left:8px;
}


 /* User Icon */

/* End of Header-Nav */

/* Adjusts Header-logo txt */
.logo a {
    font-size: 1.4em;
    margin: 1em 0;
    align-self: center;
}

/* =============
        Body
    ============ */
.wrapper-container {
    
    max-width: 65em;
    margin: 0 auto;
}
.body-grid {  
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "main-menu gallery";
    grid-gap: 10px;
}

/*=======================
    Photo Gallery
 =================== */
.gallery {
    grid-area: gallery;
    display:Grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    text-align: center;
    align-content: center; 
}
figcaption {
    position: relative;
    bottom: 5px;
    border: 1px solid;
    color: #252525;
    background:lightblue;
    box-shadow: 1px 5px 10px black;
    font-size: 1.5em;
    font-weight: bold;
}

/*=======================
    Side Menu
 =================== */
 .side-menu {   
    border-right: 1px solid ;
    border-color: orange;    
}

 /* Corrects Article Headers Pos */
.menu-container .article-header {
    display:flex;     
}

/* Makes list Into Flex Rows */
.list-item { 
    font-weight: bold;
    font-size: 1.2em;
    line-height: 2em;
    border-bottom: 1px solid;
    width: 95%;
    border-color: #b1b1b1;
}

.list-icon {
    position:relative;
    top: 10px;
    left:5px;
}
.side-menu-img {
    text-align: center;
    height:auto;
    border-right: 1px solid orange;
    padding: 2.1em 1em 0 0; 
}
/* End of Body */

/* Start of Footer */
/* Start of Social Media */
.social-media-container {
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    
}
.social-media-container  a{
    padding: 5px 30px 5px 10px;
    display: block;
}

.social-media-facebook {
    background-color: #f7f7f7;
    border-bottom-width: 4px;
    border-bottom: 4px solid;
    color: #4267B2;
    flex: auto

}

.social-media-youtube {
    background-color: #f7f7f7;
    border-bottom-width: 4px;
    border-bottom: 4px solid;
    color: #FF0000;
    flex: auto
}

.social-media-twitter {
    background-color: #f7f7f7;
    border-bottom-width: 4px;
    border-bottom: 4px solid;
    color: #47C7FA;
    flex: auto
}

.social-media-instagram {
    background-color: #f7f7f7;
    border-bottom-width: 4px;
    border-bottom: 4px solid;
    color: #574FCF;
    flex: auto;
}
/* End of Social Media */
.footer-background {
    background: #dee0e7;   
}
.footer-container {
    display:block;
    text-align: center;
    width: 70em; 
    margin: 4em auto 0 auto;
}
.footer-title{
    font-size: 1.8em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid;
    border-color: #b1b1b1;
}
.footer-logo {
    padding: 0 0 1em 0;
}
.footer-sections {
    display:flex; 
}
.footer-nav {
    display:flex;
    justify-content: center;  
}
.footer-nav-links {
    padding: 0 0 0.5em 0;
}
.footer-container .footer-nav-links:nth-child(n+2):before {
    content: '';
    display: inline-block;
    height: 10px;
    width: 1px;
    margin: 0 15px;
    background-color: black;
    pointer-events: none;
}

.footnote {
  width: 25em;
  margin: 0 auto;
  border-top: 1px solid;   
}
/* End of Footer */

/* ===============================
   Start of Media Queries
================================== */

/* Viðmið 1060px */
@media screen and (max-width: 1060px) {
    /* Media Query Start of Header */
    .header-wrap {
        width: 100%;
    }
    .headermenu {  
        width: auto;
        margin:0 0;   
    }
    .headermenu-info {
        width:100%;   
    }
    .logo {
        flex: 100%;
        justify-content: center;
        padding: 1em 0 1em 1.5em;
    }
    .header-link {
        flex: 33%;
        border: none;
        padding: 1vh 0 1.5vh 0;
        border: 1px solid;
        box-shadow: 0px 5px 5px black;
        text-align: center;
    }
    /* Media Query End of Header */

    /* Media Query Start of Body */
    .wrapper { 
        width: auto;
        margin: 0 0;
    }
    .body-grid {
        display:inherit;
    }
    /*=====================
         Start of Sidebar 
    =======================*/
    .main-menu {
        display:flex;
        border:none;
        justify-content: center;
        align-content: center;
    }
    .menu-container {
        width: 100%; 
        margin: 0 auto;
    }
    /* Changes side-menu-listbar from column to 50% space per row*/
    .side-menu { 
        display:flex;
        justify-content: center;
        flex-wrap: wrap; 
    }
    .menu-container .article-header {
        justify-content: center;   
    }
    .list-item {
        display:flex;
        flex-direction: row;
        flex: 50%;
        justify-content: center;
        padding-right:3em;
        border:1px solid;
        line-height: 1em; 
    }
    
    .list-icon {
        position:relative;
        top: 0px;
        left:0px;
    }
    .side-menu-img img{
        width: 60%; 
              
    }
    /* Media Query End of Body */

    /* Media Query Start of Footer */
    .social-media-container {
        margin-top: 1em;
       box-shadow: 0px -1px 2px black;
    }
    .footer-container{
        width: auto;
        margin: 0 0;
    }
    
    /* Media Query End of Footer */
}
/*========================
    Viðmið 600px
 =========================*/
@media screen and (max-width: 600px) {

    /* Media Query Start of Head */
    .headermenu {
      flex-direction: column;
    }
    .headermenu-info {
        flex-direction: column;
    }
    /* Changing Header-Links to 3 Rows */
    .header-link {
        flex: 33%;
        border: none;
        padding: 10px;
        box-shadow: none;
        width: 100%;
        box-shadow: 0 1px 10px black;
        border: 1px solid;
        font-size: 115%;
    }
    /* Media Query End of Head */

    /* Media Query Start of Body */
    /* Changes Pictures to Rows When they go below 300px */
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-area: 276px;
    }
    .list-item {
        font-size:0.8em;
    }
     /* Media Query End of Body */

     /* Media Query Start of Footer */
     
     .social-media-facebook {
        flex: 50%
    }
    
    .social-media-youtube {
        flex: 50%;
    }
    
    .social-media-twitter {
        flex: 50%;
    }
    
    .social-media-instagram {
        flex: 50%;
    }
     
     /*Changes Footer To 3 Rows 50% Per Row*/ 
    .footer-nav {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .footer-nav-links {
        flex: 50%;
        border: 1px solid;
    }
    .footer-container .footer-nav-links:nth-child(n+2):before {
        height: 0px;
        width: 0px;
        margin: 0 0;
    }
    #btnScrollToTop { 
        bottom: 5px;
        right: 5px;
    }
    .footnote {
        display:flex;
        justify-content: center;
        align-content: center;
        border:none;
        padding-bottom: 40px;
        width: auto;
    }
  }
  /* Media Query End of Footer */

  /* End of Media Queries */

